<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>753168671199-lolgfij20a8gfe7vn4d0a2bms5abu6r3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.753168671199-lolgfij20a8gfe7vn4d0a2bms5abu6r3</string>
	<key>API_KEY</key>
	<string>AIzaSyD6YoH62_VLvFvNOmZvPpjL1pWmm7w8ELg</string>
	<key>GCM_SENDER_ID</key>
	<string>753168671199</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.brainwellnessspa</string>
	<key>PROJECT_ID</key>
	<string>brain-wellness-app-live</string>
	<key>STORAGE_BUCKET</key>
	<string>brain-wellness-app-live.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:753168671199:ios:4fbb572e368c14a09aa46a</string>
</dict>
</plist>